{
  "extends": ["next", "next/core-web-vitals", "react-app/jest"],
  "plugins": ["import"],
  "rules": {
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  }
}
