@use 'sass:math';
@import '~/src/styles/use-bootstrap';

.containerSizer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: math.div(100% * 9, 16);
  border-radius: 0.2rem;
  overflow: hidden;
}

.container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray-100);
}

.containerLink {
  &:hover {
    .subtitle {
      color: var(--gray-550);
      @media (prefers-color-scheme: dark) {
        color: var(--gray-300);
      }
    }
  }
}

.caption {
  composes: global(h4);
  composes: global(mt-1);
}

.title {
  color: var(--body-color);
}

.subtitle {
  color: transparent;
  transition: color 0.1s;
}

@media (hover: none) {
  .subtitle {
    color: var(--gray-550);
    @media (prefers-color-scheme: dark) {
      color: var(--gray-300);
    }
  }
}
