@import "./use-bootstrap.scss";

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities/api";

:root {
  --gray-100: #f9f9f9;
  --gray-150: #f4f4f4;
  --gray-200: #ececec;
  --gray-300: #e2e2e2;
  --gray-400: #d4d4d4; // 212
  --gray-450: #c4c4c4; // 196
  --gray-500: #b5b5b5; // 181
  --gray-550: #959595; // 149
  --gray-600: #757575; // 117
  --gray-700: #505050;
  --gray-800: #3a3a3a;
  --gray-900: #252525;

  --primary: #f00;
  --body-bg: #fff;
  --body-color: var(--gray-900);
  --link-hover-color: #d00;
  --border-color: var(--gray-300);

  --background-panel-color: rgba(255, 255, 255, 0.9);
  --panel-color: rgba(249, 249, 249, 0.95);
  --panel-hover-color: rgba(236, 236, 236, 0.9);
}

@supports (color: color(display-p3 1 1 1)) {
  :root {
    --primary: color(display-p3 1 0 0);
    --link-hover-color: color(display-p3 0.95 0 0);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --gray-900: #f9f9f9;
    --gray-800: #ececec;
    --gray-700: #e2e2e2;
    --gray-600: #d4d4d4; // 212
    --gray-550: #c4c4c4; // 196
    --gray-500: #b5b5b5; // 181
    --gray-450: #959595; // 149
    --gray-400: #757575; // 117
    --gray-300: #505050;
    --gray-200: #3a3a3a; // 58
    --gray-150: #181818; // 24
    --gray-100: #252525; // 37

    --primary: #fff;
    --body-bg: #000;
    --body-color: var(--gray-450);
    --link-hover-color: var(--gray-600);
    --border-color: var(--gray-200);

    --background-panel-color: rgba(0, 0, 0, 0.9);
    --panel-color: rgba(37, 37, 37, 0.95);
    --panel-hover-color: rgba(48, 48, 48, 0.9);
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--body-color);
  overflow-y: scroll;
}

a {
  color: var(--primary);
  transition: color 0.1s;
  &:hover {
    color: var(--link-hover-color);
  }
}

@media (hover: none) {
  a:hover {
    color: var(--primary);
  }
}

@include media-breakpoint-up(md) {
  .container-fluid {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@include media-breakpoint-up(lg) {
  .container-fluid {
    padding-left: 3rem;
    padding-right: 3rem;
    max-width: 1600px;
  }
}
