@import '~/src/styles/use-bootstrap';

.panelBorderRadius {
  border-radius: 0.3rem;
  @include media-breakpoint-up(sm) {
    border-radius: 0.6rem;
  }
}

.panel {
  composes: panelBorderRadius;
  color: var(--gray-600);
  background-color: var(--panel-color);
  backdrop-filter: blur(5px);
}

.panelActive {
  color: var(--primary);
  background-color: var(--panel-hover-color);
  transition:
    color 0.1s ease-in,
    background-color 0.1s ease-in;
}

.panelHover {
  &:hover {
    color: var(--link-hover-color);
    background-color: var(--panel-hover-color);
  }
  transition:
    color 0.1s ease-in,
    background-color 0.1s ease-in;
}

.panelShadow {
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.05),
    0 4px 8px rgba(0, 0, 0, 0.05);
}
