@import "~/src/styles/use-bootstrap";

.wrapper {
  --spacing: 1rem;
  background-color: grey;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--spacing);
}

@include media-breakpoint-up(sm) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include media-breakpoint-up(lg) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include media-breakpoint-up(lg) {
  .wrapper {
    --spacing: 1.25rem;
  }
}

.module {
  position: relative;
}

.moduleInner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0.2rem;
  background-color: cyan;
}

.module-1w-1h {
  composes: module;
  height: 0;
  padding-bottom: calc(100% * 9 / 16);
}

.module-2w-2h {
  composes: module-1w-1h;
  @include media-breakpoint-up(lg) {
    grid-row: span 2;
    grid-column: span 2;
    padding-bottom: calc(100% * 9 / 16 + var(--spacing) * 7 / 16);
  }
}

.module-1w-2h {
  composes: module-1w-1h;
  @include media-breakpoint-up(lg) {
    grid-row: span 2;
    padding-bottom: calc(2 * 100% * 9 / 16 + var(--spacing));
  }
}

.one {
  composes: module-2w-2h;
}

.two {
  composes: module-1w-2h;
}

.three {
  composes: module-1w-1h;
}

.four {
  composes: module-2w-2h;
}

.five {
  composes: module-1w-1h;
}

.six {
  composes: module-1w-1h;
}
