@import "~/src/styles/use-bootstrap";

.sizeContainer {
}

.navigationContainer {
}

.spaceContainer {
  margin-bottom: $spacer * 2;
}

.navigationContainerFixed {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: var(--background-panel-color);
  backdrop-filter: blur(5px);
  transition: top 0.15s ease-out;
}

.title {
  font-size: $h5-font-size;
  margin-bottom: 0;
  @include media-breakpoint-up(sm) {
    font-size: $h2-font-size;
  }
}

.linksContainer {
  composes: global(d-flex);
  composes: global(flex-column);
  composes: global(flex-lg-row);
  flex-wrap: wrap;
}

.link {
  composes: global(h3);
  composes: global(mb-0);
  composes: global(me-2);
  composes: global(me-sm-3);
  font-size: $h5-font-size;
  @include media-breakpoint-up(sm) {
    font-size: $h2-font-size;
  }
  display: flex;
  color: var(--gray-500);
  @media (prefers-color-scheme: dark) {
    color: var(--gray-400);
  }
}

.linkActive {
  composes: link;
  color: var(--primary);
}
