@import '~/src/styles/use-bootstrap';

.sizeContainer {
}

.navigationContainer {
}

.spaceContainer {
  // margin-bottom: $spacer * 2;
}

.navigationContainerFixed {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: var(--background-panel-color);
  backdrop-filter: blur(5px);
  transition: top 0.15s ease-out;
}

.title {
  composes: global(h5);
  margin-bottom: 0;
  @include media-breakpoint-up(md) {
    font-size: $h4-font-size;
  }
}

.linksContainer {
  composes: global(d-flex);
  composes: global(flex-row);
}

.link {
  composes: global(h5);
  composes: global(mb-0);
  composes: global(ms-2);
  composes: global(ms-md-0);
  composes: global(me-md-3);
  @include media-breakpoint-up(md) {
    font-size: $h4-font-size;
  }
  display: flex;
  color: var(--gray-500);
  @media (prefers-color-scheme: dark) {
    color: var(--gray-400);
  }
}

.linkActive {
  composes: link;
  color: var(--primary);
}
