@import "~/src/styles/use-bootstrap";

.base {
  composes: panelBorderRadius from "~/src/styles/ui.scss";
  composes: global(p-3);
  color: var(--gray-600);
}

.container {
  composes: base;
  cursor: pointer;
  &:hover {
    color: var(--link-hover-color);
  }
  transition: color 0.1s ease-in;
}

.containerActive {
  composes: container;
  composes: panelActive from "~/src/styles/ui.scss";
  color: var(--primary);
}

.containerDisabled {
  composes: base;
}
