@import "~/src/styles/use-bootstrap";

.container {
  composes: panel from "~/src/styles/ui.scss";
  composes: panelShadow from "~/src/styles/ui.scss";
  composes: global(p-2);
  display: flex;
  flex: 1;
}

.containerInner {
  display: flex;
  flex: 1;
  position: relative;
}

.wordsCollectionContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  composes: global(pe-2);
}

.wordsCollectionLanguage {
  composes: global(mt-2);
  composes: global(mx-2);
  font-weight: bold;
}

.wordsCollectionLanguageSelected {
  color: var(--primary);
}

.wordsCollectionFileGroup {
  display: flex;
  flex-direction: column;
  &:after {
    content: "";
    display: flex;
    flex: 1;
    border-bottom: 1px solid var(--gray-200);
    margin-top: $spacer * 0.5;
    margin-left: $spacer * 0.5;
  }
  &:last-child {
    &:after {
      display: none;
    }
  }
}

.wordsCollectionFile {
  composes: panelBorderRadius from "~/src/styles/ui.scss";
  composes: panelHover from "~/src/styles/ui.scss";
  composes: global(p-2);
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: baseline;
  line-height: $line-height-sm;
  cursor: pointer;
  .wordsCollectionFileIcon {
    font-size: $font-size-base * 0.875;
    color: var(--gray-400);
  }
}

.wordsCollectionFileSelected {
  composes: wordsCollectionFile;
  color: var(--primary);
  pointer-events: none;
  .wordsCollectionFileIcon {
    color: var(--primary);
  }
}

.wordsCollectionFileIcon {
  composes: global(pe-2);
}
