@use 'sass:math';
@import "~/src/styles/use-bootstrap";

.containerSizer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: math.div(100% * 12, 16);
}

@include media-breakpoint-up(sm) {
  .containerSizer {
    padding-bottom: math.div(100% * 9, 16);
  }
}

.container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.2rem;
  overflow: hidden;
  color: var(--gray-700);
  background-color: var(--gray-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  overflow: hidden;
}

.segmentedControlContainer {
  composes: global(m-2);
  composes: global(m-sm-4);
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  // z-index: 1;
}

.collectionContainer {
  composes: global(px-1);
  composes: global(px-sm-2);
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  max-width: 1020px;
  font-size: 33%;
}

@include media-breakpoint-up(sm) {
  .collectionContainer {
    font-size: 50%;
  }
}

@include media-breakpoint-up(md) {
  .collectionContainer {
    font-size: 66.67%;
  }
}

@include media-breakpoint-up(xl) {
  .collectionContainer {
    font-size: 100%;
  }
}
