@import "~/src/styles/use-bootstrap";

.date {
  composes: global(h3);
}

.title {
  composes: global(h2);
  composes: global(mb-2);
  composes: global(mb-sm-0);
  font-weight: bold;
}

.entryTitle {
  composes: global(h3);
  font-weight: bold;
}

.excerpt {
  composes: global(h5);
  margin-bottom: -$paragraph-margin-bottom;
  color: var(--body-color);
}
