@import "~/src/styles/use-bootstrap";

.container {
  composes: global(p-3);
  composes: global(p-lg-5);
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  border-radius: 0.2rem;
  background-color: var(--gray-100);
  &:hover {
    color: var(--body-color);
    background-color: var(--gray-150);
    .link {
      color: var(--link-hover-color);
    }
  }
  color: var(--body-color);
}

.icon {
  width: $spacer * 6;
  composes: global(mb-4);
}

.title {
  composes: global(h5);
  font-weight: bold;
}

.subtitle {
  composes: global(h3);
  font-weight: bold;
}

.text {
  composes: global(h5);
}

.link {
  composes: global(h5);
  composes: global(m-0);
  color: var(--primary);
  transition: color 0.1s;
}

@media (hover: none) {
  .container {
    background-color: var(--gray-100);
  }
}
