@import "~/src/styles/use-bootstrap";

.title {
  composes: global(h2);
  composes: global(mb-2);
  composes: global(mb-sm-0);
  font-weight: bold;
}

.subtitle {
  composes: global(h3);
  margin-bottom: -$paragraph-margin-bottom;
}

.links {
  composes: global(h3);
  composes: global(mb-0);
  margin-top: 1.5 * $paragraph-margin-bottom;
}
