@use 'sass:math';
@import '~/src/styles/use-bootstrap';

.containerSizer {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
}

.containerSizer__mask--default {
  composes: containerSizer;
  padding-bottom: math.div(100% * 9, 16);
}

.containerSizer__mask--col-6,
.containerSizer__mask--col-6-phone {
  composes: containerSizer;
  padding-bottom: math.div(100% * 1080, 942);
}

.container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.2rem;
  overflow: hidden;
  background-color: white;
}

.maskContainer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.imageContainer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
