@import "~/src/styles/use-bootstrap";

.container {
  composes: global(d-flex);
  composes: global(flex-column);
  composes: global(flex-lg-row);
  flex-wrap: wrap;
}

.link {
  composes: global(me-sm-3);
  composes: global(mb-sm-0);
  composes: global(mb-2);
  display: flex;
  .linkIcon {
    margin-left: 0.25em;
    transform: translate(0em, 0);
    transition: transform 0.1s;
  }
  &:hover {
    .linkIcon {
      transform: translate(0.1em, 0);
    }
  }
  &:last-child {
    margin-bottom: 0 !important;
  }
}
